.case-study-metrics {
    &:empty {
        display: none !important;
    }
}

.case-studies .oxy-repeater-pages-wrap {
    display: none !important;
}

.case-study-single {
    .case-study-single-image {
        transition: 0.25s ease-in-out opacity;
    }

    .case-study-single-title {
        span {
            transition: 0.25s ease-in-out padding-left;
        }
    }

    &:hover {
        .case-study-single-title {
            span {
                padding-left: 10px;
            }
        }

        .case-study-single-image {
            opacity: 0.5;
        }
    }
}

.case-study-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85;
    z-index: 1;
}

.case-study-description {
    p:first-child {
        margin-top: 0;
    }
}

.case-study-single-pagination {
    flex-wrap: wrap;

    .case-study-single-paginate-space {
        margin-right: 1%;
    }

    @include media-breakpoint-up(md) {
        .case-study-single-paginate {
            flex-grow: 1;
        }
    }
}

.operator {
    display: block;
    height: 0;
    width: 0;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;

    &.operator-increase {
        border-bottom: solid 12px $green;
    }

    &.operator-decrease {
        border-top: solid 12px $green;
    }
}