.caldera-grid {
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .col-sm-6, .col-sm-12 {
        width: 100%;
    }
}

.contact-form {
    label {
        color: $white;
    }
    input, select, textarea {
        border-radius: 0 !important;
    }
}

.contact-button {
    margin-top: 30px !important;
    width: 100%;
    font-family: $montserrat;
    padding: 20px;
    border: none;
    background: $primary;
    text-transform: uppercase;
    font-weight: bold !important;
    letter-spacing: 3px;
    font-size: 2em !important;
    color: $white;
    transition: 0.25s ease-in-out opacity;
    &:hover {
        opacity: 0.5;
    }
}