@include media-breakpoint-down(md) {
    #_nav_menu-8-20 {
        transform: translateX(100%);
        transition: all cubic-bezier(0.87, 0, 0.13, 1) 0.4s;

        .menu-item {
            a {
                font-size: 2.5em;
                text-transform: capitalize !important;
                margin: 12px 0;
                transition: all cubic-bezier(0.87, 0, 0.13, 1) 0.25s;
                &:hover {
                    opacity: 0.5;
                    color: $primary !important;
                }
            }
        }

        &:not(.oxy-nav-menu-open) {
            .oxy-menu-toggle {
                position: fixed;
                top: 0;
                right: 0;
                margin-top: -20px;
            }

            .oxy-nav-menu-list {
                display: block !important;
                opacity: 0;
                visibility: hidden;
                width: 0;
                height: 0;
            }

            .menu-item {
                transform: translateY(20px);
                opacity: 0;
                visibility: hidden;

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition: none;
                        transition-delay: 0s;
                    }
                }
            }
        }

        &.oxy-nav-menu-open {
            transform: translateX(0);

            .menu-item {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition: 0.25s;
                        transition-delay: calc(0.25s + (#{$i} * 0.10s));
                    }
                }
            }
        }
    }
}