.page-frame {
    transition: all ease-in-out 1s;
    will-change: border-width;
    &.is--loaded {
        border-width: 20px;
    }
}

#frame {
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
        position: absolute;
        z-index: 10;
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        background-image: url('../images/socialhero-shield-logo-white.png');
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        animation: cycleHue 5s infinite ease-in-out;
        opacity: 1;
        visibility: visible;
        transition: all 0.15s ease-in-out;
        transform: scale(1);
    }

    &.is--loaded {
        background-color: transparent;
        &:after {
            // display: none;
            opacity: 0;
            visibility: hidden;
            transform: scale(0);
        }
    }
}

@mixin cycleHue($duration: 1s, $iteration: 1) {
    animation-name: cycleHue;
    @include animation($duration, $iteration);
}

@keyframes cycleHue {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}


.oxygen-builder-body {
    .page-frame {
        border-width: 20px important;
    }
    #frame {
        background-color: transparent !important;
        &:after {
            display: none !important;
        }
    }
}