.process-cube-wrap {
    height: 500px;
    position: relative;
    .process-cube {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        &:not(.cube-4) {
            z-index: 2;
        }
        &.cube-4 {
            z-index: 1;
        }
    }
    &.aos-animate {
        .process-cube {
            &.cube-1 {
                animation: cube-1 6s ease-in-out infinite;
            }
            &.cube-2 {
                animation: cube-2 6s ease-in-out infinite;
            }
            &.cube-3 {
                animation: cube-3 6s ease-in-out infinite;
            }
            &.cube-4 {
                animation: cube-4 6s ease-in-out infinite;
            }
        }
    }
}

@keyframes cube-1 {
    0% {
        opacity: 0;
    }
    12.5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    62.5% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    87.5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cube-2 {
    0% {
        opacity: 0;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    62.5% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    87.5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cube-3 {
    0% {
        opacity: 0;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    37.5% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    62.5% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    87.5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cube-4 {
    0% {
        opacity: 0;
    }
    12.5% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    37.5% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    62.5% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    87.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}