$venn-diagram-circle-distance: 80px;
$venn-diagram-text-distance: 40px;

.venn-diagram {
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .venn-diagram-circle {
        position: relative;
        width: 275px;
        height: 275px;
        margin-top: -26px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform ease-in-out 0.35s;
        transition-delay: 0.75s;
        .venn-diagram-text {
            position: relative;
            z-index: 2;
            opacity: 0;
            transition: all ease-in-out 0.5s;
            transition-delay: 1s;
            font-family: $montserrat;
            font-weight: bold;
            font-size: 0.85em;
        }
        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            opacity: 0.5;
        }
        &.circle-1 {
            &:before {
                background-color: lighten($blue, 35%);
            }
        }

        &.circle-2 {
            &:before {
                background-color: lighten($blue, 25%);
            }
        }

        &.circle-3 {
            &:before {
                background-color: $blue;
            }
        }
    }
    .venn-diagram-center {
        opacity: 0;
        font-family: $montserrat;
        font-size: 2em;
        transition: all ease-in-out 0.5s;
        transition-delay: 1.3s;
        z-index: 3;
        font-weight: bolder;
    }
    &.aos-animate {
        .venn-diagram-center {
            opacity: 1;
            letter-spacing: 4px;
        }
        .venn-diagram-circle {
            .venn-diagram-text {
                opacity: 0.75;
            }
            &.circle-1 {
                .venn-diagram-text {
                    transform: translateY(-$venn-diagram-text-distance);
                }

                transform: translateY(calc((#{$venn-diagram-circle-distance} - 20px) * -1));
            }

            &.circle-2 {
                .venn-diagram-text {
                    transform: translate(-$venn-diagram-text-distance, $venn-diagram-text-distance);
                }

                transform: translate(-$venn-diagram-circle-distance, $venn-diagram-circle-distance);
            }

            &.circle-3 {
                .venn-diagram-text {
                    transform: translate($venn-diagram-text-distance, $venn-diagram-text-distance);
                }

                transform: translate($venn-diagram-circle-distance, $venn-diagram-circle-distance);
            }
        }
    }
}