.block-transition {
    position: relative;
    .ct-section-inner-wrap {
        opacity: 0;
        visibility: hidden;
        transform: translateZ(0) translateY(-10px);
        will-change: transform, opacity;
    }
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(1);
        transform-origin: 100% 50%;
        will-change: transform;
    }
    &:before {
        z-index: 2;
        background: $white;
    }
    &:after {
        z-index: 1;
        background: $gray;
    }
    &.is--visible {
        .ct-section-inner-wrap {
            animation: block-inner-transition 0.25s ease-in;
            animation-delay: 1.25s;
            animation-fill-mode: forwards;
        }
        &:before {
            animation: block-transition 0.5s ease-in-out reverse;
            animation-fill-mode: forwards;
            animation-delay: 0.1s;
        }
        &:after {
            animation: block-transition 0.5s ease reverse;
            animation-delay: 0.6s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes block-transition {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes block-inner-transition {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

// .oxygen-builder-body {
//     .block-transition {
//         .ct-section-inner-wrap {
//             opacity: 1 !important;
//             visibility: visible !important;
//             transform: translateY(0px) !important;
//         }
//         &:before, &:after {
//             display: none !important;
//         }
//     }
// }