.primary-button {
    position: relative;
    display: inline-block;
    padding-left: 50px;

    &:before,
    &:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    &:before {
        transition: .15s;
        width: 15px;
        height: 15px;
        left: 20px;
        display: block;
        transform: rotate(45deg);
        border: solid #2cc4ec;
        border-width: 3px 3px 0 0;
    }

    &:after {
        transition: .15s;
        left: 0;
        width: 36px;
        height: 3px;
        background-color: #2cc4ec;
    }

    &:hover {
        &:before {
            animation: horizontal-arrow-tip .5s ease-in-out infinite alternate;
        }
        &:after {
            animation: horizontal-arrow-shaft .5s ease-in-out infinite alternate;
        }
    }
}

.cta-button {
    position: relative;
    transition: all ease-in-out 0.25s;
    overflow: hidden;

    .cta-button-text {
        position: relative;
        transition: all ease-in-out 0.25s;

        >* {
            z-index: 1;
            transition: all ease-in-out 0.25s;
        }

        .cta-button-text-last {
            position: absolute !important;
            width: 100%;
            transform: translateY(-200%);
            @extend .arrow;
        }
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        background: $dark-gray;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all ease-in-out 0.15s;
        transform: scaleY(0);
        transform-origin: top;
    }

    &:hover {
        .cta-button-text {
            .cta-button-text-first {
                transform: translateY(200%);
            }

            .cta-button-text-last {
                transform: translateY(0);
            }
        }

        &:before {
            transform: scaleY(1);
        }
    }
}


@keyframes scrollDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        transform: translateY(100%);
    }

    51% {
        opacity: 0;
        transform: translateY(-100%);
    }

    52% {
        opacity: 1;
    }

    100% {
        transform: translateY(0%);
    }
}