.shining {
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .9) 30%, #000 50%, rgba(0, 0, 0, .9) 70%);
    mask-size: 200%;
    animation: shine 2s infinite;
}

.shine:hover {
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    mask-size: 200%;
    animation: shine 2s infinite;
}

@keyframes shine {
    from {
        mask-position: 150%;
    }

    to {
        mask-position: -50%;
    }
}

.flashing {
    animation: flash 2s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}